.mapwrapper {
    height: calc(100% - 56px);
}

/* Makes map fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Adjustamos el buscador al contenido */
#textoBuscador{
  width: 400px;
}
